.button___38IWe {
  background-color: #1b1c1c;
  border-radius: 25px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-top: 10px;
  min-width: 175px;
  padding: 18px 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button___38IWe:hover {
  cursor: pointer;
}

.primary-dark___2jYYP {
  background-color: #1b1c1c;
}

.primary-light___2uwVA {
  background-color: #fff;
  color: #1b1c1c;
}

.secondary___36pZC {
  background-color: #fff;
  border: 2px solid #1b1c1c;
  color: #1b1c1c;
}
.widthWide___1QTFK {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 25px;
  width: 100%;
}

.widthNarrow___3UU0C {
  margin: 0 auto;
  max-width: 630px;
  padding: 0 25px;
  width: 100%;
}
