.navigation___3ozAB {
  position: absolute;
  padding: 20px 25px 0;
  z-index: 10;
}

.menuButtons___3PtTa {
  display: inline-block;
  margin-right: 15px;
}

.menuButton___1_1YJ {
  background-repeat: no-repeat;
  background-size: contain;
  height: 18px;
  width: 25px;
}

.menuButton___1_1YJ:hover {
  cursor: pointer;
}

.menuButtonOpen___2atmQ {
  display: inline-block;
}

.subMenuOpen___1W6Xp .menuButtonOpen___2atmQ {
  display: none;
}

.menuButtonClose___G_W7b {
  display: none;
}

.subMenuOpen___1W6Xp .menuButtonClose___G_W7b {
  display: inline-block;
}

.homeLink___mjPjT {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
}

.subMenu___2H9oV {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: -330px;
  padding: 100px 25px 25px;
  width: 280px;
  height: 100vh;
  transition: left .3s ease-in;
}

.subMenuOpen___1W6Xp .subMenu___2H9oV {
  left: 0;
}

.closeButton___3VE6y {
  position: absolute;
  right: -45px;
  top: 20px;
}

.closeButton___3VE6y:hover {
  cursor: pointer;
}

.closeButton___3VE6y img {
  width: 25px;
}

li {
  list-style: none;
  margin-bottom: 30px;
}

.navLink___2Aq3y {
  color: #1b1c1c;
  font-size: 36px;
  text-decoration: none;
}
.header___2uitE {
  align-items: center;
  background-blend-mode: multiply;
  background-color: #C3C3C3;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

@media only screen and (max-width : 668px) {
  .header___2uitE {
    height: 250px;
    margin-bottom: 25px;
  }
}

.headerSubpage___11sAn {
  height: 70vh;
}

@media only screen and (max-width : 668px) {
  .headerSubpage___11sAn {
    height: 250px;
  }
}

.headerHome___yxJD6 {
  height: 100vh;
  position: relative;
}

.section___29WFO {
  padding: 0 25px;
}

.heading___3lwLf {
  color: #fff;
  font-size: 36px;
  font-weight: 300;
  line-height: 47px;
  margin-top: 20px;
  padding-right: 300px;
}

.headerHome___yxJD6 .heading___3lwLf {
  margin-bottom: 30px;
}

@media only screen and (max-width : 960px) {
  .heading___3lwLf {
    padding-right: 100px;
  }
}

@media only screen and (max-width : 668px) {
  .heading___3lwLf {
    padding-right: 0;
  }
}

.arrow___14Zkd {
  bottom: 20px;
  position: absolute;
  transform: rotate(90deg);
  width: 25px;
}
.footer___34BaK {
  background-color: #fafafa;
  padding: 40px 0 60px;
}

.inner___1E_T3 {
  padding: 0 25px;
}

.text___1wrXB {
  color: #000;
  display: block;
  text-decoration: none;
}

.internalLinkWrapper___19TNB {
  margin-bottom: 40px;
}

.internalLink___1l362 {
  font-size: 16px;
  margin-bottom: 20px;
}

.externalLinkWrapper___1cUSo {
  margin-bottom: 50px;
}

.externalLink___4INFm {
  align-items: center;
  display: flex;
  font-size: 12px;
  margin-bottom: 28px;
}

.icon___2J-Rz {
  margin-right: 10px;
}

.copyright___3XvKT {
  font-size: 12px;
}
.root___3QO7a {
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 100vh;
  position: relative;
  transition: left .3s ease-in;
  width: 100%;
}

.rootOpen___2sBv- {
  position: fixed;
  left: 280px;
}

.main___1tWfX {
  flex: 1;
}
h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

hr {
  margin: 30px 0 35px;
  height: 2px;
  width: 115px;
  border: none;
  background-color: #000;
}

p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 25px;
}

main {
  padding: 0 0 60px;
}
.body___3hJfU img {
  max-width: 100%;
}

.body___3hJfU h2 {
  margin-bottom: 25px;
}
.chrome___2F7Pf {
  border: 1px solid #ccc;
  border-radius: 8px 8px 0 0;
  height: 540px;
  margin-bottom: 10px;
  padding: 30px 0 0;
  position: relative;
}

@media only screen and (max-width : 668px) {
  .chrome___2F7Pf {
    height: 300px;
  }
}

.inner___1q03i {
  border-top: 1px solid #ccc;
  cursor: ns-resize;
  height: 100%;
  overflow-y: scroll;
}

.controls___1P_kB {
  position: absolute;
  top: 5px;
  left: 10px;
}

.circle___2Hkkm {
  border: 1px solid #ccc;
  border-radius: 10px;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}
.chrome___1jpQM {
  border-radius: 25px;
  border: 1px solid #ccc;
  height: 520px;
  margin-bottom: 10px;
  padding: 45px 15px; 
  width: 280px;
}

@media only screen and (max-width : 668px) {
  .chrome___1jpQM {
    margin: 0 auto 10px;
  }
}

.inner___WVXFB {
  border: 1px solid #ccc;
  cursor: ns-resize;
  height: 100%;
  overflow-y: scroll;
}
.single___28mc3 {
  margin-bottom: 20px;
}

@media only screen and (max-width : 668px) {
  .single___28mc3 {
    padding: 0 10px;
  }
}

.single___28mc3 img {
  max-width: 100%;
}

.double___FRdRR {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 520px auto;
  grid-column-gap: 20px;
  grid-row-gap: 13px;
}

@media only screen and (max-width : 668px) {
  .double___FRdRR {
    display: block;
    padding: 0 10px;
  }
}

.double___FRdRR img {
  max-width: 100%;
  width: 100%;
}

.double___FRdRR .caption___1kpeo {
  grid-column: 1 / -1;
}

.caption___1kpeo p {
  font-size: 12px;
  letter-spacing: .7px;
  line-height: 21px;
}
.item___V-i9q {
  border: 1px solid #D1D3D4;
  width: 305px;
  height: 380px;
  padding: 42px;
  margin: 0 8px;
}

@media only screen and (max-width : 668px) {
  .item___V-i9q {
    border: none;
    height: auto;
    margin: 0 0 30px 0;
    padding: 0 25px;
    position: relative;
    width: 100%;
  }
}

.icon___2NEyS {
  margin-bottom: 10px;
}

@media only screen and (max-width : 668px) {
  .icon___2NEyS {
    position: absolute;
    text-align: center;
    top: 7px;
    width: 45px;
  }
}

.icon___2NEyS img {
  height: 42px;
}

@media only screen and (max-width : 668px) {
  .icon___2NEyS img {
    height: auto;
    margin: 0 auto;
  }
}

.heading___c8CAW {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 2px;
}

.body___2nbHt {
  font-size: 16px;
  letter-spacing: .33px;
  line-height: 28px;
}

@media only screen and (max-width : 668px) {
  .heading___c8CAW,
  .body___2nbHt {
    margin-left: 65px;
  }
}
.section___1SF67 {
  padding: 50px 0;
}

.section___1SF67:first-child {
  padding: 0 0 20px;
}

.section___1SF67:last-child {
  padding-bottom: 0px;
}

.section___1SF67 h2 {
  font-weight: 500;
  margin-bottom: 8px;
}

.services___JYLI2 {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width : 668px) {
  .services___JYLI2 {
    display: block;
  }
}

.needs___1dr5K {
  background-color: #F6F6F6;
  margin: 0 -25px;
}

@media only screen and (max-width : 668px) {
  .needs___1dr5K {
    margin: auto;
  }
}

.list___2tUj9 {
  max-width: 250px;
}

@media only screen and (max-width : 668px) {
  .list___2tUj9 {
    margin-left: 25px;
  }
}

.listItem___1OGN0 {
  margin: 0;
  line-height: 28px;
  list-style-type: disc;
}
.link___1PMnT {
  color: #1b1c1c;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.rightArrow___z71f4 {
  height: 12px;
}
@media only screen and (max-width : 668px) {
  .item___2rjZH {
    margin-bottom: 50px;
  }

  .item___2rjZH:last-child {
    margin-bottom: 0;
  }
}

.image___2W3fo {
  margin-bottom: 8px;
}

@media only screen and (max-width : 668px) {
  .image___2W3fo {
    margin-left: -25px;
    margin-right: -25px;
    margin-bottom: 15px;
  }
}

.image___2W3fo img {
  max-width: 100%;
}

.heading___3pk-9 {
  color: #1b1c1c;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: .5px;
  line-height: 36px;
  margin-bottom: 8px;
  text-decoration: none;
}

.body___3FLP_ {
  font-size: 16px;
  letter-spacing: .33px;
  line-height: 28px;
  margin-bottom: 25px;
}

@media only screen and (max-width : 668px) {
  .body___3FLP_ {
    margin-bottom: 10px;
  }
}
.caseStudies___1c7zy {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 60px;
  margin: 60px 0 0;
}

@media only screen and (max-width : 668px) {
  .caseStudies___1c7zy {
    display: block;
    margin-top: 40px;
  }
}
.section___Ux_Hq {
}

.intro___4QCS2 {
  max-width: 500px;
  margin-bottom: 50px;
}

.main___2itqd {
  display: flex;
}

.main___2itqd > div {
  width: 50%;
}

@media only screen and (max-width : 668px) {
  .main___2itqd {
    display: block;
    padding-bottom: 0;
  }

  .main___2itqd > div {
    width: 100%;
    margin-bottom: 40px;
  }
}

.main___2itqd > div:first-child {
  margin-right: 50px;
}

@media only screen and (max-width : 668px) {
  .main___2itqd > div:first-child {
    margin-right: 0;
  }

  .main___2itqd > div:last-child {
    margin: 0;
  }
}

.image___2XNt1 {
  margin-bottom: 18px;
  max-width: 100%;
}

.heading___2y5n_ {
  margin-bottom: 13px;
}

.paragraph___YQ8xE {
  line-height: 30px;
  letter-spacing: .33px;
}

.link___1-pnY {
  color: #1b1c1c;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.rightArrow___3-RbO {
  height: 12px;
}
